#profiles {
    width: 40%;
    height: 100%;
    overflow-y: auto;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(235, 235, 235);
  }
  #profiles #search {
    margin: 20px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: none;
  }
  #profile_list, #recommend_profile {
    margin: 20px;
  }